# Copy this file and set values before running the app
# On Windows PowerShell: $env:VAR_NAME="value"
# On Linux/macOS: export VAR_NAME=value

DB_USER=root
DB_PASS=your_mysql_password

MAIL_USER=your_gmail@gmail.com
MAIL_PASS=your_16_char_gmail_app_password
